/* font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Varela Round', sans-serif; */

:root{
  --color-primary-bg:#e4e455;
  --color-secundary-bg:#a4ba78;
}

html{
  background: var(--color-primary-bg);
}

body{
  width: 100%;
  overflow-x: hidden;
}

.header{
  background: var(--color-secundary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10px;
  border-bottom: 4px solid black;
}

.header-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary-bg);
  font-size: 50px;
  font-weight: 800;
  text-shadow: -2px -2px 1px #000;
  user-select: none;
  transition: transform 0.3s ease;
}

.header-logo:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.header-logo-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: -4px -2px 1px #000;
}

.header-toggler{
  display: none;
}

.header-nav{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.header-nav-a{
  text-decoration: none;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 22px;
  transition: transform 0.3s ease;
}

.header-nav-a:hover{
  transform: scale(1.3);
}

.footer{
  background: blue;
}
